.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
Pipfile.lock
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?

# Some files types
env3.*
env
log.txt
*.csv
*.pdf
*.xlsx

